<section class="footer">
    <div class="footer-content">
        
        <div class="nav-links">
              <a href="/"><img src="Assets/logo-resized.png" alt="image" height="90px"></a>
              <div class="link">
                  <ul>
                      <li><a href="/">Home</a></li>
                      <li><a href="About">About</a></li>
                      <li><a href="Contact">Contact</a></li>
                      <li><a href="Session">Sessions</a></li>
                  </ul>
              </div>
              <div class="social-link">
                  <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>&nbsp;&nbsp;
                  <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;
                  <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>&nbsp;&nbsp;
                  
              </div>

              <p>© 2035 by Company name</p>
          </div>

       <div class="contact-form">

          <h2>Contact Us</h2>
          <div class="form-container">
              <form action="#">
                  <div class="name-info">
                      <input type="text" placeholder="First Name" required>
                      <input type="text" placeholder="Last Name" required>
                  </div><br/><br/>
                  <div class="contact-info">
                      <input type="tel" id="phone" name="phone" placeholder="Phone" required>
                      <input type="email" placeholder="Email Address" required>
                  </div><br/><br/>
                  <div class="message">
                      <textarea rows="4" cols="50" placeholder="Message..." required></textarea>
                  </div><br>   
   
                  <button id="submitBtn">Submit</button>
               </form>
          </div>
       </div>
    </div>   
 </section>