<div class="navbar">
    <div class="logo"></div>
    <div class="menu-btn"></div>
    <div class="menu menu-items">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="About">About</a></li>
            <li><a href="Contact">Contact</a></li>
            <li><a href="Session">Sessions</a></li>
            <li class="btn-pop"><a href="signup">SignUp/Login</a></li>
           </ul>
       </div>
 </div>