<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/CSS/about.css">

    <!-- social media icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="navbar">
        <div class="logo"></div>
        <div class="menu-btn"></div>
        <div class="menu menu-items">
           <div class="navigation-items">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="About">About</a></li>
                <li><a href="Contact">Contact</a></li>
                <li><a href="Session">Sessions</a></li>
                <li><a href="#">Sign Up</a></li>
             </ul>
           </div>
        </div>
    </div>

    <div class="heading">
        <h1>About Us</h1>
        <div class="heading-content">
           <p>Know About us better, Who we are.</p>
        </div>
    </div>

    <section class="about-us">
        <div class="container">
            <div class="about-content">
                <h1>I'm a Sample Paragraph</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique illo ea, quis omnis animi eius sequi, aliquam, neque totam explicabo iste! Natus soluta deleniti dolor nihil ab impedit commodi quidem.

                </p>
                <br>
                <p>
                    dolor ipsum dolor sit amet consectetur adipisicing elit. Excepturi odit expedita hic iste quo molestias facere, aliquid ut voluptatem! Ducimus, nisi. Nobis tempora aperiam aliquam saepe, maxime quis molestiae corrupti?
                </p>
            </div>
            <div class="about-image"></div>
        </div>

        <div class="container">
            <div class="about-image"></div>
            <div class="about-content">
                <h1>I'm a Sample Paragraph</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique illo ea, quis omnis animi eius sequi, aliquam, neque totam explicabo iste! Natus soluta deleniti dolor nihil ab impedit commodi quidem.

                </p>
                <br>
                <p>
                    dolor ipsum dolor sit amet consectetur adipisicing elit. Excepturi odit expedita hic iste quo molestias facere, aliquid ut voluptatem! Ducimus, nisi. Nobis tempora aperiam aliquam saepe, maxime quis molestiae corrupti?
                </p>
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="footer-content">
              
              <div class="nav-links">
                    <img src="Assets/logo-resized.png" alt="image" height="90px">
                    <div class="link">
                       <ul>
                          <li><a href="#">Home</a></li>
                          <li><a href="#">About</a></li>
                          <li><a href="#">Contact</a></li>
                          <li><a href="#">Sessions</a></li>
                       </ul>
                    </div>
                    <div class="social-link">
                       <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>&nbsp;&nbsp;
                       <a href="https://www.twitter.com"><i class="fab fa-twitter"></i></a>&nbsp;&nbsp;
                       <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>&nbsp;&nbsp;
                    </div>
  
                    <p>© 2035 by Company name</p>
              </div>
  
           <div class="contact-form">
  
              <h2>Contact Us</h2>
              <div class="form-container">
                    <form action="#">
                       <div class="name-info">
                          <input type="text" placeholder="First Name" required>
                          <input type="text" placeholder="Last Name" required>
                       </div><br/><br/>
                       <div class="contact-info">
                          <input type="tel" id="phone" name="phone" placeholder="Phone" required>
                          <input type="email" placeholder="Email Address" required>
                       </div><br/><br/>
                       <div class="message">
                          <textarea rows="4" cols="50" placeholder="Message..." required></textarea>
                       </div><br>   
        
                       <button id="submitBtn">Submit</button>
                    </form>
              </div>
           </div>
        </div>   
    </section>

    <script>
        const menuBtn = document.querySelector('.menu-btn');
        const navigation = document.querySelector('.navigation');

        menuBtn.addEventListener("click", () =>{
            menuBtn.classList.toggle("active");
            navigation.classList.toggle("active");
        });
    </script>
</body>
</html>