<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/CSS/about.css">

    <!-- social media icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <%- include("partials/navbar") %>

    <div class="heading">
        <h1>About Us</h1>
        <div class="heading-content">
           <p>Know About us better, Who we are.</p>
        </div>
    </div>

    <section class="about-us">
        <div class="container">
            <div class="about-content">
                <h1>I'm a Sample Paragraph</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique illo ea, quis omnis animi eius sequi, aliquam, neque totam explicabo iste! Natus soluta deleniti dolor nihil ab impedit commodi quidem.

                </p>
                <br>
                <p>
                    dolor ipsum dolor sit amet consectetur adipisicing elit. Excepturi odit expedita hic iste quo molestias facere, aliquid ut voluptatem! Ducimus, nisi. Nobis tempora aperiam aliquam saepe, maxime quis molestiae corrupti?
                </p>
            </div>
            <div class="about-image"></div>
        </div>

        <div class="container">
            <div class="about-image"></div>
            <div class="about-content">
                <h1>I'm a Sample Paragraph</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique illo ea, quis omnis animi eius sequi, aliquam, neque totam explicabo iste! Natus soluta deleniti dolor nihil ab impedit commodi quidem.

                </p>
                <br>
                <p>
                    dolor ipsum dolor sit amet consectetur adipisicing elit. Excepturi odit expedita hic iste quo molestias facere, aliquid ut voluptatem! Ducimus, nisi. Nobis tempora aperiam aliquam saepe, maxime quis molestiae corrupti?
                </p>
            </div>
        </div>
    </section>

    <%- include("partials/footer") %>
</body>
</html>

<script src="/JS/script.js"></script>