<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Sessions</title>
   <link rel="stylesheet" href="/CSS/session.css">

   <!-- social media icons -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

   <%- include("partials/navbar") %>

   <div class="heading">
      <h1>Book Session</h1>
      <div class="heading-content">
         <p>Book an online interactive session to ace your goal with ease.</p>
      </div>
   </div>

   <section class="booking">
      <div class="container">
         <div class="consult-image card-image" ></div>
         <div class="consultation card">
            <div class="card-content">
               <h1>Consult Online</h1>
               <p>Have a 15 min consultation with an expert.</p>
               <hr>
               <p>Duration: 15 min</p>
               <a href="#"><button>Book Now</button></a>
            </div>
         </div>
      </div>
      
      <div class="container">
         <div class="diet-image card-image"></div>
         <div class="expert-session card">
            <div class="card-content">
               <h1>Online Session with an Expert</h1>
               <p>A complete 1hr session with an expert on a diet plan.</p>
               <hr>
               <p>Duration: 1hr</p>
               <a href="#"><button>Book Now</button></a>
            </div>
         </div>
      </div>

      <div class="container">
         <div class="fitness-image card-image"></div>
         <div class="expert-session card">
            <div class="card-content">
               <h1>Online Session with an Expert</h1>
               <p>A complete 1hr session with an expert on a fitness plan.</p>
               <hr>
               <p>Duration: 1hr</p>
               <a href="#"><button>Book Now</button></a>
            </div>
         </div>
      </div>
   </section>

   <%- include("partials/footer") %>

</body>
</html>

<script src="/JS/script.js"></script>