<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Workout</title>
    <link rel="stylesheet" href="CSS/workout.css">
</head>
<body>
    <div class="flex-container">
        <form action="/track/TrackWorkout" method="post">
            <div class="content">
                
                <div class="input-container">
                    <div class="input">
                        <input type="text" required placeholder="Exercise Type" name="exerciseType">
                    </div>
                      
                    <div class="input">
                        <input type="text" required placeholder="Duration in min" name="duration">
                    </div>
                      
                    <div class="select input">
                        <select required name="intensity">
                            <option selected hidden>Intensity</option>
                            <option value="low">Low</option>
                            <option value="medium">Medium</option>
                            <option value="high">High</option>
                        </select>
                    </div>
                </div>
                
                <div class="track-btn">
                    <button type="submit">Track</button>
                </div>
            </div>
        </form>
        <% if(submitted){ %>
        <div class="content-display">
            <div class="circle-container">
                <div class="circle">
                    <div class="cal-img"><img src="/Assets/fire_8691989.png" alt="not found"></div>

                    <div class="calories"><%= calorieBurned %></div>

                </div>
            </div>
            <div class="tips">
                <div class="gpt-response">
                    <h1>Tips for your workouts!</h1>
                    
                    <% Tips.forEach(function(tip){ %>
                        <ul>
                            <li><%= tip %></li>
                        </ul>
                    <% }); %>

                    <div class="redirectBtn">
                        <a href="/"><button>Home</button></a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</body>

<script src="JS/trackWorkout.js"></script>
</html>