*{
   margin-top: 0%;
   padding: 0%;
   box-sizing: border-box;
}

body{
   margin: 0;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   scroll-behavior: smooth;
}

/* navbar css */

.navbar {
   background-color: rgb(237, 241, 214);
   display: flex;
   width: 94%;
   height: 75px;
   margin-inline: auto;
   position: relative;
   top: 1.5rem;
   z-index: 999;
}

.logo{
   background: url(/Assets/logo.png) no-repeat;
   background-size: 13rem;
   background-position: center;
   width: 20%;
   height: 90px;
}

.navbar
.menu-items a{
  position: relative;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  margin-left: 18px;
  transition: 0.3s ease;
}

.navbar
.menu-items a:before{
  content: '';
  position: absolute;
  background: #000;
  width: 0;
  height: 3px;
  bottom: 1px;
  left: 0;
  transition: 0.3s ease;
}

.navbar
.menu-items a:hover:before{
  width: 100%;
}

.menu {
   position: relative;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: flex-end;
}

.menu ul {
   list-style-type: none;
   margin: 0;
   padding-inline: 20px;
   overflow: hidden;
}

li {
   float: left;
}

.menu li a {
   display: block;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   color: black;
   font-size: 17px;
}

.heading{
   margin-top: 60px;
   text-align: center;
}

.heading h1{
   font-weight: 600;
   font-size: 76px;
}

.heading p{
   font-weight: 200;
   font-size: 35px;
}

.heading-content{
   width: 23rem;
   margin-inline: auto;
}


.booking{
   margin-top: 8rem;
   margin-bottom: 8rem;
}

.container{
   display: flex;
   margin-inline: auto;
   width: 76%;
   height: 40rem;
   margin-top: 10rem;
}

.consult-image{
   background: url(/Assets/pexels-andrea-piacquadio-859265.jpg) no-repeat;
   background-size: cover;
   transform: scaleX(-1);
   width: 50%;
   height: 40rem;
   background-position: -280px;
}

.diet-image{
   background: url(/Assets/pexels-micheilecom-__-visual-stories-11583653.jpg) no-repeat;
   background-size: cover;
   width: 50%;
   height: 40rem;
   background-position: -280px;
}

.fitness-image{
   background: url(/Assets/pexels-victor-freitas-949129.jpg) no-repeat;
   background-size: cover;
   width: 50%;
   height: 40rem;
   background-position: -280px;
}

.card{
   width: 50%;
   background: #9DC08B;
}

.card-content{
   margin: 50px;
   color: white;
   width: 415px;
}

.card-content h1{
   font-size: 50px;
   font-weight: 400;
}

.card-content p{
   font-size: 25px;
   font-weight: 100;
}

.card-content hr{
   height: 5px;
   margin-top: 5rem;
   border-radius: 5px;
   background-color: white;
}

.card-content button{
   width: 135px;
   height: 60px;
   border: none;
   border-radius: 5px;
   text-decoration: none;
   color: #9DC08B;
   font-size: 18px;
   transition: 0.3s ease-in;
}

.card-content button:hover {
   background-color: transparent;
   cursor: pointer;
   color: white;
   border: 2px solid white;
   transition: 0.3s ease-in;
}

/* footer css */

.footer{
   width: 100%;
}

.footer-content{
   background: #40513B;
   width: 90%;
   margin-inline: auto;
   display: flex;
   justify-content: space-evenly;
}

.footer-content img{
   mix-blend-mode: color-dodge;
   height: 120px;
   position: relative;
   top: 5px;
   left: 3px;
}

.nav-links{
   width: 50%;
}

.link{
   display: flex;
   align-items: center;
   padding-inline: 10px;
}

.link ul{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
}

.link li a{
   display: block;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   color: #FFF;
   font-size: 17px;
   font-style: normal;
   font-weight: 400;
   line-height: normal;
}

.social-link{
   position: relative;
   display: block;
   padding: 12px 24px;
   font-size: 20px;
}

.social-link a{
   text-decoration: none;
   color: #fff;
}

.nav-links p{
   position: relative;
   display: block;
   padding: 14px 24px;
   color: #FFF;
}

.form-container{
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.contact-form h2{
   text-align: center;
   font-size: xx-large;
   font-weight: 500;
   color: #FFF;
}
.contact-form{
   padding: 20px;
   width: 100%;
}

.form-container form {
   width: 70%;
   display: grid;
}

.contact-form textarea{
   border: 1.5px solid #FFF;
   width: -webkit-fill-available;
   height: 115px;
   padding-inline: 8px;
   font-size: 15px;
   box-sizing: border-box;
   resize: none;
}

.contact-form input{
   border: none;
   border-bottom: 1.5px solid #FFF;
   width: 213px;
   height: 38px;
   padding-inline: 8px;
   font-size: 15px;
   /* flex-shrink: 0; */
}

.contact-form textarea,input{
   background: transparent;
   border-radius: 2px;
   color: white;
   width: 100%;
   outline: none;
}

.name-info,
.contact-info{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}

.contact-form
textarea::placeholder,
input::placeholder{
   color: rgba(255, 255, 255, 0.402);
}

.contact-form button{
   width: -webkit-fill-available;
   height: 50px;
   color: #40513B;
   border: none;
   font-size: 18px;
   background-color: white;
   transition: ease-in 0.2s;
}

.contact-form button:hover{
   cursor: pointer;
   color: white;
   border: 2px solid;
   background-color:#40513B ;
   border-color: white;
}

@media (max-width: 1040px) {

   /* navbar */
*{
      transition: 0.5s ease;
   }
   .navbar {
      transition: 0.5s ease;
      padding: 0px 20px;
      top: 0;
      width: 100%;
      justify-content: space-between;
      align-items: center;
   }

   .logo {
      position: relative;
      top: 6px;
   }

   .menu {
      position: relative;
      display: none;
   }

   .menu-btn {
      background: url(/Assets/menu.png) no-repeat;
      background-size: 30px;
      background-position: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: 0.3s ease;
   }

   .menu-btn.active {
      z-index: 1000;
      transform: rotate(180deg);
      background: url(/Assets/close.png) no-repeat;
      background-size: 25px;
      background-position: center;
      transition: 0.3s ease;
   }

   .menu.active {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(1, 1, 1, 0.5);
   }

   .navbar .menu-items a {
      color: #EDF1D6;
      font-size: x-large;
      margin-left: 0px;
   }

   .menu ul {
      display: grid;
      background: #40513B;
      justify-items: center;
      align-items: center;
      justify-content: space-evenly;
      width: 50rem;
   }

   .navbar .menu-items a:before {
      background: #EDF1D6;
   }

   .menu-items li a[href="Contact"] {
      display: none;
  }

/* footer */
.footer-content {
      transition: 0.5s ease-in-out;
      display: grid;
      justify-content: space-evenly;
      align-content: stretch;
      justify-items: center;
      width: 100%;
   }

   .footer-content img {
      margin-bottom: 15px;
      left: 0px;
   }

   .nav-links {
      width: 100%;
      display: grid;
      justify-content: start;
      align-items: center;
      justify-items: start;
      align-content: center;
   }

   .form-container form {
      width: inherit;
      display: block;
   }

   .name-info, .contact-info {
      display: grid;
      justify-items: center;
      align-items: center;
      justify-content: center;
   }

   .contact-form input {
      margin-bottom: 15px;
      width: 80vw;
   }

   .contact-form button {
      width: 100%;
   }
}